* {
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --primary: #6c00cb;
    --bg1: rgb(53, 99, 50);
    --bg2: rgb(212, 212, 212);
    --bg3: #1a4c39;
}

body {
    background-color: var(--bg3);    
    color: whitesmoke;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

nav {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
    background-image: url('../assets/navbg.webp');
    background-size: cover;
}

nav.logo {
    transform: scale(1.5);
}
/* Main Content */

main, section {
    width: 100%;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    height: 85vh;
    width: 100%;
    padding: 20px;
}

.about div {
    text-align: center;
    padding: 10px 30px;
}

.about div ul {
    list-style: circle;
    padding: 5px;
}

.about div ul li {
    margin: 10px 0;
}

.about .imgdiv img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 10px;
}

.vision {
    height: 30vh;
}

.vision h2 {
    text-align: center;
    padding-top: 20px;
}

.vision p {
    width: 50%;
    text-align: center;
    margin: 20px auto;
}

/* Footer */

footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.2rem;
} 

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        height: auto;
    }

    .about .imgdiv img {
        width: 100%;
        height: auto;
    }

    .vision p {
        width: 90%;
    }

    nav {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 20px 0;
    }
}