* {
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root {
    --primary: #6c00cb;
}

/* Header */

nav {
    height: 15vh;
    background-color: var(--primary);
    width: 100%;
    display: grid;
    grid-template-areas: 'logo . links';
    grid-template-columns:  1.5fr .5fr 2fr;
}

nav.logo {
    grid-area: logo;
    position: relative;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    grid-area: links;
}

nav ul li a {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

/* Main Content */

main {
    height: 100vh;
    width: 100%;
}

section {
    width: 100%;
}

.hero {
    position: relative;
    height: 85vh;
    border-bottom: #6c00cb;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    height: 85vh;
    width: 100%;
    padding: 20px;
    background-color: teal;
}

.about div {
    background-color: white;
    padding: 10px 30px;
}

.vision {
    background-color: lightcoral;
}

.contact {
    background-color: lightgoldenrodyellow;
}


/* Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: var(--primary);
    bottom: 0;
    z-index: 0;
}